:root {
  --text--color: #f0f4f5;
  --accent--color: #d49466;
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
}

.mainfull {
  position: relative;
  height: 100%;
}

/*header*/
.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;
}

a {
  text-decoration: none;
  color: var(--text--color);
}

.nav_Logo {
  color: var(--text--color);
  font-size: 24px;
}

.nav_Logo i {
  color: var(--accent--color);
}

.nav_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav_menu li {
  padding: 8px 12px;
}

.nav_menu li:hover {
  background-color: var(--accent--color);
  border-radius: 4px;
}

.nav_icon {
  color: var(--text--color);
  font-size: 18px;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav_icon li {
  padding: 8px 12px;
}

.nav_toogle {
  display: none;
  position: absolute;
  right: 30px;
  font-size: 24px;
  color: var(--accent--color);
}

@media (max-width: 768px) {
  .nav_bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .nav_menu li {
    width: 100%;
    text-align: center;
  }
  .nav_icon {
    display: none;
    justify-content: center;
    width: 100%;
    margin-top: 3px;
  }

  .nav_toogle {
    display: block;
  }

  .nav_menu.active,
  .nav_icon.active {
    display: flex;
  }
}

/* */
.main_img {
  height: 100%;
  width: 100%;
}

.contant {
  height: 100%;
  width: 100%;
}
/* */

.js-toDoList li {
  width: 300px;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  justify-content: space-between;
  color: black;
}
li button {
  border-radius: 50%;
  border: none;
  opacity: 0.3;
  height: 100%;
}

li button:hover {
  opacity: 1;
  background-color: rgb(0, 204, 134);
}

.btn {
  cursor: pointer;
}

.clicked {
  color: gray;
}

.form {
  display: none;
}
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  background-size: cover;
  background-position: center;
}

.js-clock {
  display: inline-block;
}

.page1 {
  position: relative;
  width: 1060px;
  height: 400px;
}

.Hello {
  position: relative;
  left: 5vw;
  padding-top: 16vh;
  padding-left: 6vw;
}

.Helle {
  position: relative;
  left: 5vw;
  margin-top: -0.7vh;
  padding-left: 6.1vw;
}

.js-title {
  margin: 0 auto 0 auto;
  font-size: 50px;
}

.inputText {
  padding-left: 10px;
  width: 300px;
  height: 30px;
  border-radius: 4px;
  border: none;
  background: rgb(161, 156, 156);
  z-index: 99999;
}

input:hover {
  transition: all 1s ease;
  background: rgba(249, 249, 249, 0.623);
}

.js-toDoForm {
  border: 0;
  position: relative;
  display: flex;
  text-align: center;
}

.main_view {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--text--color);
  flex-direction: column;
  height: 80%;
}

.rotate_view {
  display: none;
  top: 100px;
  position: relative;
  justify-content: center;
  padding-bottom: 20px;
}

.clickInput {
}

.checkBox {
  position: relative;
  display: flex;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.js-toDoList {
  padding-left: 0;
}

.label__content {
  top: -330px;
  right: 53%;
  border-radius: 4px;
  position: absolute;
  display: none;
  width: 400px;
  height: 320px;
  background-color: var(--text--color);
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
}

#info {
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#info:hover {
  border: 1px solid #eaeaea;
  border-radius: 4px;
}
.TEXT {
  position: relative;
  display: flex;
}

#Dinfo {
  text-align: right;
  position: relative;
  display: inline-block;
}

.js-Sclock {
  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.inputText {
}

.rotate_content {
  position: relative;
  width: 100%;
  height: 90%;
  text-align: center;
  overflow: hidden;
  align-items: center;
}

.slider_content {
  top: 50%;
  position: absolute;
  width: 100%;
}

.slider {
  position: absolute;
  width: 100%;

  padding: 0 10%;
  box-sizing: border-box;
  transform: translateY(-50%);
  text-align: center;

  overflow: hidden;
}

.slider_content.animated {
  -webkit-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
}

#prev,
#next {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 99999;
  display: inline-block;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 1px solid var(--text--color);
  background-color: black;
  filter: blur(1px);
}

#prev {
  margin-left: -640px;
}
.prevs {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 80%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.prevs:hover {
  background-color: rgb(255, 255, 255);
}

#next {
  margin-left: 550px;
}

.js-weather {
  font-family: Arial, Helvetica, sans-serif;
}

.js-title {
}

/*page1 */

.side {
  margin: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: #1b1b1b;
}

p {
  font-family: fantasy serif;
  font-size: 1.1rem;
  margin-left: 5px;
  margin-right: 5px;
}

/* page2 */

.page2 {
  position: relative;
  width: 1060px;
  height: 400px;
  background-color: rgb(109, 108, 104);
  display: flex;
  filter: drop-shadow(5px 5px 10px rgb(176, 176, 177));
}

.Graph {
  flex-basis: 60%;
  height: 100%;
  background-color: rgb(75, 74, 72);
  box-sizing: border-box;
  padding: 20px;
  border-right: 1px solid gray;
}

.GraphBox {
  flex-basis: 40%;
}
.GraphBox1 {
  height: 50%;
  width: 100%;
  background-color: rgb(167, 161, 162);
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px solid gray;
}

.GraphBox2 {
  height: 50%;
  width: 100%;
  background-color: rgb(161, 157, 156);
  box-sizing: border-box;
  padding: 20px;
}

.skill_title {
  font-size: 1.17rem;
  margin-top: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.skillD {
  display: flex;
  justify-content: space-between;
}

.skillBar {
  margin-top: 10px;
  margin-bottom: 50px;
  width: 100%;
  background-color: slategray;
  border-radius: 4px;
  height: 10px;
}

.skillB {
  background-color: tomato;
  height: 10px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .side::before {
    display: none;
  }
  .side::after {
    display: none;
  }
  .grate {
    display: none;
    background: rgba(255, 255, 254, 0.1);
  }

  .side {
    margin: 0;
  }
  .Hello {
    position: relative;

    left: -25%;
  }
  .Helle {
    position: relative;

    left: -25%;
  }
}

/* center*/

.eventbox {
  max-width: 1600px;
  margin: 3% auto 0;
  float: left;
  overflow: hidden;
  z-index: 999;
}

.center {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  z-index: -222;
}

.event {
  padding: 50px 12.5% 0 6.25%;
  width: 62%;

  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.event_names {
  margin-left: 20px;
  height: 10%;
  color: rgb(99, 4, 4);
  margin-bottom: 20px;
}

.event_name {
  height: 10%;
  width: 100%;
  margin-bottom: 20px;
}

.eventText {
  padding-top: 10px;
  padding-left: 30px;
  margin-bottom: 10px;
}

.Cbtn {
  position: absolute;
  top: 77%;
  left: 70%;
  border-radius: 50%;
  background-color: #eaeaea;
  z-index: 99;
  padding: 8px 6px;
  border-radius: 1px solid black;
  box-shadow: 0 0 5px rgb(161, 156, 156);
  cursor: pointer;
  width: 0;
}

.Cbtn2 {
  left: 65%;
}
.Cbtn3 {
  left: 60%;
}
.Cbtn4 {
  left: 55%;
}

.ch {
  width: 17px;
  background-color: red;
  transition: all 0.6s ease;
  border-radius: 10px;
}

.font {
  font-weight: 500;
  font-size: small;
  padding-left: 30px;
  display: block;
}

strong {
  font-size: 15px;
  color: rgb(85, 84, 84);
}

.img {
  position: relative;
  display: block;
  box-shadow: 5px 0 15px rgb(161, 156, 156);
}

.img::after {
  position: absolute;
  top: 9.6%;
  left: 11.4%;
  z-index: -1;
  width: 103.2%;
  height: 100%;
  background-color: #f3f3f3;
  content: "";
}

.imgs {
  vertical-align: top;
  height: 100%;
  width: 100%;
}

.imgs2 {
  display: none;
}
.imgs3 {
  display: none;
}
.imgs4 {
  display: none;
}

.channel {
  width: 37.5%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding-right: 3.1%;
}
.Cfont {
  padding-top: 15px;
  display: flex;
}

.play:hover {
  background-color: #eaeaea;
}

.play {
  border-radius: 2px;
  cursor: pointer;
  margin-top: 12px;
  margin-right: 8px;
  padding: 5px;
  width: 10%;
  height: 5%;
  border: 1px solid black;
}

@media (max-width: 768px) {
  .page2 {
    left: -40px;
    width: 100%;
    height: 100%;
  }
  .center {
    flex-direction: column;
    height: 150vh;
  }
  .eventbox {
    height: 100%;
  }

  .event {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .channel {
    flex-direction: column;
    top: 5vh;
    width: 100%;
    text-align: center;
  }
  .Cfont {
    margin-left: 40vw;
  }
  .Cbtn {
    left: 70%;
  }
  .Cbtn2 {
    left: 60%;
  }
  .Cbtn3 {
    left: 50%;
  }
  .Cbtn4 {
    left: 40%;
  }
}

/*---------------------Botton-------------------*/

.Bottom {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-bottom: 50px;
}

.BottomL {
  position: relative;
  flex-basis: 60%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;

  z-index: 0;
}

.BottomR {
  position: relative;
  border-radius: 6px;
  margin-top: 10vh;
  padding: 20px;
  height: 100%;
  flex-basis: 40%;
}

.RC {
  border-radius: 6px;
  height: 100%;
}

.Botblock {
  position: relative;
  background-color: white;
  width: 40%;
  height: 40%;
  display: inline-block;
  border-radius: 8px;
  margin: 40px 20px 20px 20px;
}

h2 {
  margin: 0;
}

.Botblock::after {
  position: absolute;
  top: 2.6%;
  left: 2.4%;
  z-index: -1;
  width: 103.2%;
  height: 100%;
  background-color: #686767;
  content: "";
  filter: blur(20px);
}

.Ssss {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.gts {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gts:hover {
  background-color: gray;
  opacity: 0.5;
}

.NOTICE {
  color: var(--text--color);
  background-color: rgb(87, 48, 48);
}

.titleN {
  padding-top: 5vh;
  align-items: center;
  height: 40%;
}

.Rnotice {
  cursor: pointer;
  align-items: center;
  width: 100%;
  height: 15.5%;
  border-top: 2px solid var(--text--color);
  background-color: #263343;
  color: var(--text--color);
}

h4 {
  margin: 0;
}

p {
  margin: 0;
  font-size: small;
}

.Rnotice:hover {
  background-color: var(--accent--color);
}

@media (max-width: 768px) {
  .Bottom {
    flex-direction: column;
    height: 200vh;
  }
  .BottomL {
    width: 100%;

    margin-bottom: 12vh;
    height: 50vh;
  }
  .BottomR {
    width: 100%;
    height: 100vh;
  }
  .Botblock {
    width: 40%;
    height: 50%;
  }
  .BottomR {
    flex-direction: column;
  }
}

.end {
  position: relative;
  width: 100%;
  height: 35vh;
  background-color: #263343;
}
.footer {
  color: white;
  padding-bottom: 10px;
  position: absolute;
  text-align: center;
  align-items: center;
  left: 0;

  width: 100%;
  white-space: nowrap;

  border-radius: 4px;
}

.footLogo i {
  margin-left: 10px;
  font-weight: 500;
  font-size: 30px;
}

.fa-youtube {
  color: red;
}
.fa-instagram {
  color: rgb(202, 65, 157);
}

.fa-facebook-square {
  color: rgb(15, 72, 194);
}

.footLogo {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  height: 5vh;
  width: 100%;
  border-bottom: 2px solid rgb(128, 127, 127);
}

.Business {
  display: flex;
}

.customarS {
  text-align: center;
}

.customarS strong {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;

  color: #fff;
}
.customarS ul {
  display: flex;
  list-style: none;
}
.customarS li {
  font-size: 12px;
  color: rgb(114, 114, 114);
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid rgb(102, 101, 101);
}

.family {
  border: 1px solid rgb(114, 114, 114);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  display: inline-block;
  width: 10vw;
  margin-left: 70%;
}

.BusinessInfo {
  text-align: center;
}

.BusinessInfo strong {
  color: #fff;
  display: block;
  padding-right: 10px;
  padding-bottom: 12px;
}

.BusinessInfo ul li strong {
  font-size: 10px;
}

.BusinessInfo ul {
  list-style: none;
}
.BusinessInfo li {
  font-size: 10px;
  color: rgb(114, 114, 114);
  display: flex;
}
@media (max-width: 768px) {
  .end {
    position: relative;
    width: 100%;
    height: 20vh;
  }
}
